@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';


@layer utilities {
  .bg-animate-gradient {
    background-size: 200% 200%;
    animation: moveGradient 20s ease infinite;
  }
  .bg-dots {
      background-image: radial-gradient(rgba(255, 255, 255, 0.2) 2px, transparent 2px);
      background-size: 30px 30px;
  }
}

@keyframes moveGradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
